.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-logoceub{
  align-items:baseline;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-equipe {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-body {
  background-color: whitesmoke;
}

.App-objetivo{
  min-height: 30vh;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-task{
  min-height: 10vh;
  flex-direction: column;
  justify-content: center;
}

.App-core{
  min-width: 10vh;
  display: flex;
  align-items:baseline;
}

.App-visual{
  min-width: 10vh;
  display: flex;
  align-items:baseline;
}

.App-public{
  min-width: 10vh;
  display: flex;
  align-items:baseline;
}

.App-pacote{
  min-width: 10vh;
  display: flex;
  align-items:baseline;
}

.App-welcome{
  min-width: 10vh;
  display: flex;
  align-items:baseline;
}
